.longLine {
    composes: longLine from '../styles/ui.module.css';
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    align-self: center;
  }

  .buttonKeuze {
    composes: button-4 from '../styles/ui.module.css';
    margin-top: 3.7rem;
  }

  .buttonKeuze span{
    /* composes: button-4 span from '../styles/ui.module.css'; */
    align-items: center;
    background: var(--transparentOrange-color);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
  
    height: 100%;
    width: 100%;
  }

  .hidden{
      display: none;
  }

  .main{
    margin-top: 6rem;
    margin-bottom: -2.2rem;
  }

  .card01{
    composes: card from '../styles/ui.module.css';
    margin-bottom: 0rem;
  }

  .keuzes{
    composes: flexColumn from '../styles/ui.module.css';
    margin-top: 11.6rem;
  }