body, .buttonTwo, .noButton, .buttonOne, .buttonFour {
    font-family: Muli, sans serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--offBlack-color);
}

.headerOne, .buttonOne, .accent {
    font-weight: bold;
}

.headerTwo {
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.small {
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.detail {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.buttonThree, .formInput {
    font-family: Muli, sans serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.accent {
    color: var(--orange-color);
}