/* Buttons ------------------------------------------------------------------------------------------------------------------------------------------ */

.button-1, .button-3, .button-4 {
    background-color: linear-gradient(to right, #FFC371 , #FF5F6D);
    color: var(--offWhite-color);
    border-radius: 2rem;

    padding: .8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    margin: 1.6rem;

    text-align: center;
}

.button-2 {
    text-decoration: underline;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.button-3 {
    background-image: linear-gradient(to right bottom, #ffc371, #ffac66, #ff9362, #ff7a65, #ff5f6d);
    border: solid .1rem transparent;
    border-radius: 2rem;
    box-sizing: border-box;

    color: var(--offBlack-color);

    height: 4rem;
    width: 28.8rem;
    margin: 0 auto;

    padding: .1rem;
}

.button-3 span {
    align-items: center;
	background: white;
	border-radius: 2rem;
	display: flex;
    justify-content: center;
    
	height: 100%;
	width: 100%;
}

.button-4 {
    background-color: var(--transparentOrange-color);
    border-color: linear-gradient(to right, #FFC371 , #FF5F6D);
    
    color: var(--offBlack-color);
}

/* Form input --------------------------------------------------------------------------------------------------------------------------------------- */
.formInput {
    background: linear-gradient(to right bottom, #ffc371, #ffac66, #ff9362, #ff7a65, #ff5f6d) bottom no-repeat;
    background-size: 100% .2rem;
    border: none;

    width: 28.8rem;
}