/* Buttons ------------------------------------------------------------------------------------------------------------------------------------------ */
.button1,
.button3,
.button4 {
  padding: 0.8rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  margin: 1.6rem;

  text-align: center;

  height: 4rem;
  min-width: 28.8rem;
}

.button1 {
  background-image: linear-gradient(to right, #ffc371, #ff5f6d);
  color: var(--offWhite-color);
  border-radius: 2rem;
  border: none;
}

.button2 {
  text-decoration: underline;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;

  border: none;
}

.button3 {
  background-image: linear-gradient(
    to right bottom,
    #ffc371,
    #ffac66,
    #ff9362,
    #ff7a65,
    #ff5f6d
  );
  border: solid 0.1rem transparent;
  border-radius: 2rem;
  box-sizing: border-box;

  color: var(--offBlack-color);

  height: 4rem;
  width: 28.8rem;
  margin: 0 auto;

  padding: 0.1rem;
}

.button3 span {
  align-items: center;
  background: white;
  border-radius: 2rem;
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.button4 {
  background-image: linear-gradient(
    to right bottom,
    #ffc371,
    #ffac66,
    #ff9362,
    #ff7a65,
    #ff5f6d
  );
  border: solid 0.1rem transparent;
  border-radius: 0.5rem;
  box-sizing: border-box;

  color: var(--offBlack-color);

  height: 4rem;
  width: 28.8rem;
  margin: 0 auto;

  padding: 0.1rem;
}

.button4 span {
  align-items: center;
  background: var(--transparentOrange-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.noButton {
  border: none;
}

/* Form input --------------------------------------------------------------------------------------------------------------------------------------- */
.formInput {
  background: linear-gradient(
      to right bottom,
      #ffc371,
      #ffac66,
      #ff9362,
      #ff7a65,
      #ff5f6d
    )
    bottom no-repeat;
  background-size: 100% 0.2rem;
  border: none;

  width: 28.8rem;
}

/* Navigation -------------------------------------------------------------------------------------------------------------------------------------------- */
.headerRect {
  background-color: white;
  border-radius: 0rem 0rem 2rem 2rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
}

.nav {
  position: fixed;
  bottom: 0;
  /* width: 100%; */
  width: 100vw;
  background-color: white;
  border-radius: 1rem 1rem 0rem 0rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
}

/* Decoration ---------------------------------------------------------------------------------------------------------------------------------------- */
.shortLine {
  background-color: black;
  width: 8.8rem;
  height: 0.1rem;
  margin-top: 0.8rem;
}

.longLine {
  background-color: rgba(51, 51, 51, 0.1);
  width: 28.8rem;
  height: 0.1rem;
}

/* Cards ---------------------------------------------------------------------------------------------------------------------------------------------- */
.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
  padding: 1.6rem;

  margin: 1.6rem;
}

/* Layout ---------------------------------------------------------------------------------------------------------------------------------------------- */
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  margin-top: 10.4rem;
  margin-bottom: 8rem;
  overflow: scroll;

  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
