.card {
  composes: card from '../styles/ui.module.css';
  margin: 0;
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article {
  margin-bottom: 1.2rem;
}

.subsectionTitle {
  composes: noButton from '../styles/ui.module.css';
  composes: header1 from '../styles/typo.module.css';
}
